.profile_tabs_container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 350px;
}

.profile_tabs {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.tab_description {
    color: var(--text-inactive-color);
}