.loader {
    border: 10px solid var(--text-inactive-color);
    border-top: 10px solid var(--text-primary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 40%;
    left: calc(50% - 40px);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}