.burger_constructor, .ingredients_middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.burger_constructor {
    max-height: 70vh;
    max-width: 600px;
    overflow-x: auto;
    min-width: 350px;
    width: 100%;
}

.ingredients_middle {
    overflow-y: auto;
    overflow-x: auto;
    height: 35vh;
    box-sizing: border-box;
    width: 100%;
}

.order_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    max-width: 300px;
}

.order_details_price {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (min-width: 600px) {
    .order_details {
        max-width: inherit;
    }
}

@media screen and (min-width: 1000px) {
    .burger_constructor {
        align-items: end;
    }
}