.header {
    box-sizing: border-box;
    background-color: var(--background);
    min-width: 350px;
    display: flex;
    justify-content: center;
}

.nav {
    max-width: 1250px;
    width: 100%;
}

.nav_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item {
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

.nav_item_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-inactive-color);
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

.nav_item_link.nav_item_link_selected, .nav_item_link:hover {
    color: var(--text-primary-color);
}

@media screen and (min-width: 1000px) {
    .nav_list {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .nav_item:first-child {
        order: 3;
        flex-basis: 50%;
    }

    .nav_item:last-child {
        order: 4;
        justify-content: flex-end;
        flex-basis: 35%;
    }
}